.todo-card {
  .card-header {
    display: flex;

    h5 {
      flex: 1;
      width: 75%;
      padding-right: 0.5rem;
      text-transform: capitalize;
    }
    svg {
      width: 2rem;
      height: 1.4rem;
      &:hover {
        cursor: pointer;
        opacity: 70%;
      }
    }
    .btn {
      position: relative;
      padding: 0.6rem 0.6rem;
      height: 1.2rem;
      div {
        display: block;
        position: absolute;
        left: 0.38rem;
        top: -0.3rem;
      }
    }
  }

  color: var(--sub-background-color);
  .card-body {
    p {
      font-size: small;
      white-space: pre-line;
    }
    footer {
      font-size: small;
    }
  }
}
