.todo-card {
  h5 {
    text-transform: capitalize;
  }
  color: var(--sub-background-color);
  .card-body {
    p {
      font-size: small;
      white-space: pre-line;
    }
    footer {
      font-size: small;
    }
  }
}
